notes/*
PhDThesis_CARREAU.aux
PhDThesis_CARREAU.bbl
PhDThesis_CARREAU.bcf
PhDThesis_CARREAU.blg
PhDThesis_CARREAU.fdb_latexmk
PhDThesis_CARREAU.fls
PhDThesis_CARREAU.lof
PhDThesis_CARREAU.log
PhDThesis_CARREAU.lot
PhDThesis_CARREAU.maf
PhDThesis_CARREAU.mtc*
PhDThesis_CARREAU.out
PhDThesis_CARREAU.run.xml
PhDThesis_CARREAU.synctex.gz
PhDThesis_CARREAU.toc
